@font-face {
    font-family: Inter;
    src: url(/style/Inter-Regular.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background-color: #000;
    color: #fff;
    font-family: "Inter";
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border: 0.1px solid rgba(255, 255, 255, 0.292);
    border-radius: 100vw;
    margin-block: .80em;

}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #55B8FF, #065DEE);
    border-radius: 100vw;
}
/* Scroll Bar End */


/* Header Started */
header {
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 99;
}

nav {
    width: 100%;
    height: 100px;
    padding: 30px 50px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
}

nav .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header-part2{
    justify-self: end;
}

.header-part2 ul{
    margin-left: auto;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-self: end;
    align-items: center;
}

.get-in-touch{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    width: 9vw;
    height: 6vh;
    font-weight: 700;
    font-size: 1em;
    border-radius: 30px;
    border: 2px solid #065DEE;
    margin-left: auto;
    justify-self: flex-end;
    margin-left: 10px;
}

.s-icon{
    text-align: center;
    font-family: sans-serif;
    width: 1em;
}

/* Header Section End */



/* Hero Section Started */

#hero-section{
    z-index: 1;
    background-color: #000;
}

.hero {
    text-align: center;
    padding: 0px 20px;
    padding-top: 100px;
    height: 110vh;
    overflow: hidden;
    position: relative;
    border-bottom-left-radius: 110% 80%;
    border-bottom-right-radius: 120% 25%;
    background: linear-gradient(to right, rgba(1, 15, 67, 0.078), rgba(1, 15, 67, 0.5));
    z-index: 1;

}

.hero-img{
    height: 120vh;
    justify-self: flex-end;
    margin-top: 40vh;

}


.hero-content {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 0px 10vw;
    z-index: 1;
}

.hero h2 {
    font-size: 48px;
    justify-self: flex-start;
    text-align: left;

}

.hero-first-text{
    font-family: "Koulen", sans-serif;
    font-size: 180px;
    line-height: 90px;
}

.hero-text-secondline{
    font-family: "Inter", sans-serif;
    font-size: 70px;
    line-height: 90px;
    font-weight: 500;
}

.blue-text{
    background: linear-gradient(to right, #55B8FF, #065DEE);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: var(-webkit-background-clip);
}

.hero-text-lastline{
    font-family: "Koulen", sans-serif;
    font-size: 75px;
    line-height: 90px;
}

.white-circle{
    position: absolute;
    top: 25%;
    right: 38vw;
    background-color: #ffffff31;
    border-radius: 50%;
    width: 50vh;
    height: 50vh;
    filter: blur(200px);
    z-index: 0;
}
/* hero section end */



/* service section start */

#services {
    padding:15vh 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    background-color: #000;

}

#services h2{
    font-size: 3rem;
    padding: 80px 0px;
}

.services-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.service-card {
    background: #ffffff07;
    padding: 20px;
    width: 20vw;
    height: 20vw;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #065DEE;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
}

.service-card img{
    width: 10rem;
    margin-bottom: 20px;
}

/* Service section end */


/* About section start */

#about {
    padding: 15vh 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-color: #000;


}

.about-container{
    width: 80%;
        display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}

.about-container img{
    width: 30vw;
    border-radius: 30px;
    filter: drop-shadow(-20px 10px 5px #ffffff);
}

.about-description{
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 50px;
}

.about-description h2{
    font-size: 3rem;
}

/* About section End */



/* Process Section Started */

.process .sectiontitle {
    padding-bottom: 8vh;
    z-index: 1;
    background-color: #000;
    padding-top: 16vh;
    overflow-x: hidden;
    text-align: center;
    z-index: 1;

}

.process-titlemain{
    font-size: 3rem;
    padding: 80px 0px;
}

.process-timeline {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    margin-bottom: 5rem;
}

.timeline-progress {
    z-index: -2;
    background-color: #14243f;
    width: 3px;
    height: 100%;
    position: absolute;
    overflow: hidden;
}

.timeline-progress-bar {
    z-index: -1;
    background-color: #fff;
    background-image: linear-gradient(to bottom, #55B8FF, #065DEE);
    width: 3px;
    height: 52vh;
    position: fixed;
    top: 0;
    left: auto;
    right: auto
}

.timeline-item {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 180px 1fr;
    grid-auto-columns: 1fr;
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    position: relative;
    top: 7rem;
}

.timeline_left {
    text-align: right;
    justify-content: flex-end;
    align-items: stretch;
    position: relative;
}

.sticky-text-left {
    position: sticky;
    top: 47.5vh;
}

.timeline-step-number-text {
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    padding-right: 0;
    font-family: "Oswald", sans-serif;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2;
    position: sticky;
    top: 47.5vh;
    text-align: right;
    z-index: 2;
}

.timeline-step-number {
    opacity: 1;
    color: #065DEE;
    overflow-wrap: normal;
    font-family: "Oswald", sans-serif;
    font-size: 12em;
    font-weight: 500;
    line-height: 200px;
    position: absolute;
    top: -160%;
    bottom: 0%;
    left: 30%;
    right: auto;
    z-index: 1;
}

.timeline-center {
    justify-content: center;
    display: flex;
}

.timeline-arrow {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 100%;
    width: 30px;
    min-width: 35px;
    max-width: 35px;
    height: 35px;
    min-height: 35px;
    max-height: 35px;
    position: sticky;
    top: 52vh;
    box-shadow: 0 0 18px 8px rgba(0, 0, 0, .66);
}

.timeline-arrow img {
    margin-top: -10px;
    margin-left: -1px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.timeline-right {
    padding-bottom: 20px;
}

.timeline-heading {
    text-align: left;
    margin-bottom: 20px;
    font-size: 2.5em;
    font-weight: 600;
    color: #fff;
    font-family: "Inter", sans-serif;
    line-height: 1.3;
}

.timeline-image {
    background-image: none;
    background-position: 0 0;
    border-radius: 12px;
    overflow: visible;
}

.timeline-image-div {
    box-shadow: none;
    border-style: none;
    width: 80%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    overflow: hidden;
}

.timeline-image-div img {
    padding-left: 0;
    padding-right: 20px;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.timeline-description {
    margin-bottom: 20px;
    text-align: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.125rem;
    line-height: 150%;
}

.ti-4 {
    padding-bottom: 0;
}

.hider{
    height: 30vh;
    background-color: black;
}

@media (max-width: 1200px){
    .timeline-step-number{
        font-size: 10em;
        left: 10%;
    }

    .timeline-step-number-text{
        font-size: 2.6em;
    }
}
@media (max-width: 992px){
    .timeline-step-number{
        font-size: 8em;
        left: 0;
    }

    .timeline-step-number-text{
        font-size: 2.6em;
    }


}

@media (max-width: 767px) {
    .timeline-progress {
        left: 25px;
    }

    .timeline-item {
        grid-template-columns: 64px 1fr;
        width: 100%;
        padding-top: 140px;
    }

    .timeline-left {
        text-align: left;
        grid-area: 1 / 2 / 2 / 3;
    }

    .sticky-text-left {
        position: relative;
        top: 0;
    }

    .timeline-step-number-text {
        margin-bottom: 24px;
        font-size: 2em;
        position: relative;
        top: 0;
        text-align: left;
    }

    .timeline-step-number {
        font-size: 8em;
        display: block;
        top: -489%;
        left: -2%;
    }

    .timeline-center {
        grid-area: 1 / 1 / 3 / 2;
        justify-content: flex-start;
    }

    .timeline-heading {
        font-size: 1.2em;
    }

    .timeline-description {
        margin-bottom: 48px;
        font-size: 1rem;
    }

    .hider{
        height: 20vh;
    }
}

@media (max-width: 479px) {
    .timeline-item {
        grid-template-columns: 48px 1fr;
        padding-left: 20px;
        padding-right: 10px;
    }

    .timeline-left {
        grid-area: 1 / 2 / 2 / 3;
    }

    .timeline-step-number-text {
        font-size: 1.8em;
        line-height: 1.4;
    }

    .timeline-step-number {
        font-size: 8em;
        display: block;
        top: -407%;
        left: -1%;
    }

    .timeline-center {
        margin-left: -11px;
    }

    .timeline-heading {
        text-align: left;
        font-size: 1.2em;
    }

    .timeline-description {
        margin-bottom: 20px;
    }
    .timeline-image-div{
        width: 100%;
    }
}


footer {
    text-align: center;
    padding: 20px 0;
    background-color: #111;
}
